@model List<it_career.models.FilmDto>;

<h1>Film Library</h1>
<button class="btn btn-primary" id="AddFilm" onclick="CreatFilm()">+</button>
<div id="formContainer"></div>
<div class="container d-flex justify-content-start">
    @foreach (var film in Model)
    {
        <div class="container d-flex flex-column gap-3 w-25 border rounded p-3">
            <h3 class="align-self-center">@film.Name</h3>
            <p>Genre: @film.Genre</p>
            <p>Duration: @film.Duration</p>
            <p>Released: @film.ReleaseDate.ToString("yyyy-MM-dd")</p>
        </div>
    }
</div>
<script src"~\wwwroot\js\site.js"></script>
