@model List<it_career.models.KinoDto>;

<div class="text-center">
    @if(User.IsInRole("Manager")){<button class="btn btn-primary" id="AddKino" onclick="CreatKino()">Add Kino +</button>}
    <div id="formContainer"></div>
    <div class="container d-flex justify-content-start" id="kinosContainer">
        @foreach (var kino in Model)
        {
            <div class="container w-25 d-flex flex-column align-items-start">
                <h3 class="align-self-center">@kino.Name</h3>
                <p>Location: @kino.Location</p>
                <p>Capacity: @kino.Capacity</p>
                <button class="btn btn-secondary" onclick="KinoSchedule('@kino.Id')">Schedule</button>
            </div>
        }
    </div>
</div>
<script src"~\wwwroot\js\site.js"></script>
